# Ignore Python virtual environment
.venv/
venv/

# Ignore huge FastText models
*.bin
*.bin.gz


# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment files
*.env
*.csv
*.json
*.jsonl
*.zip
*.pkl
# Ignore your multi-GB word embeddings
cc.en.300.bin
cc.en.300.bin.gz



# Optional: ignore notebook metadata

